button[class~="Integrant.Element.Bit.Button"] {
  border-radius: 3px;
  cursor: pointer;
  font-family: var(--Integrant_SansSerifFont);
  font-weight: 500;
  outline: none;
  padding: 2px 6px; }
  button[class~="Integrant.Element.Bit.Button"]::-moz-focus-inner {
    border: 0; }
  button[class~="Integrant.Element.Bit.Button"][class~="Integrant.Element.Bit:Disabled"] {
    cursor: not-allowed; }
  button[class~="Integrant.Element.Bit.Button"][class~="Integrant.Element.Bit.Button:Default"]:not([class~="Integrant.Element.Bit:Disabled"]) {
    background-color: var(--Colorant_Default_Background_3);
    border: 1px solid var(--Colorant_Default_Border_7);
    color: var(--Colorant_Default_Text_4); }
    button[class~="Integrant.Element.Bit.Button"][class~="Integrant.Element.Bit.Button:Default"]:not([class~="Integrant.Element.Bit:Disabled"]):hover, button[class~="Integrant.Element.Bit.Button"][class~="Integrant.Element.Bit.Button:Default"]:not([class~="Integrant.Element.Bit:Disabled"]):focus {
      background-color: var(--Colorant_Default_Background_6);
      border: 1px solid var(--Colorant_Default_Border_8);
      color: var(--Colorant_Default_Text_4); }
    button[class~="Integrant.Element.Bit.Button"][class~="Integrant.Element.Bit.Button:Default"]:not([class~="Integrant.Element.Bit:Disabled"]):active {
      background-color: var(--Colorant_Default_Background_9);
      border: 1px solid var(--Colorant_Default_Accent_4);
      color: var(--Colorant_Default_Text_4); }
  button[class~="Integrant.Element.Bit.Button"][class~="Integrant.Element.Bit.Button:Default"][class~="Integrant.Element.Bit:Disabled"] {
    background-color: transparent;
    border: 1px solid var(--Colorant_Default_Border_6);
    color: var(--Colorant_Default_Text_0); }
  button[class~="Integrant.Element.Bit.Button"][class~="Integrant.Element.Bit.Button:Blue"]:not([class~="Integrant.Element.Bit:Disabled"]) {
    background-color: var(--Colorant_Solids_Blue_10);
    border: 1px solid var(--Colorant_Solids_Blue_10);
    color: white; }
    button[class~="Integrant.Element.Bit.Button"][class~="Integrant.Element.Bit.Button:Blue"]:not([class~="Integrant.Element.Bit:Disabled"]):hover, button[class~="Integrant.Element.Bit.Button"][class~="Integrant.Element.Bit.Button:Blue"]:not([class~="Integrant.Element.Bit:Disabled"]):focus {
      background-color: var(--Colorant_Solids_Blue_8);
      border: 1px solid var(--Colorant_Solids_Blue_8);
      color: white; }
    button[class~="Integrant.Element.Bit.Button"][class~="Integrant.Element.Bit.Button:Blue"]:not([class~="Integrant.Element.Bit:Disabled"]):active {
      background-color: var(--Colorant_Solids_Blue_6);
      border: 1px solid var(--Colorant_Solids_Blue_0);
      color: white; }
  button[class~="Integrant.Element.Bit.Button"][class~="Integrant.Element.Bit.Button:Blue"][class~="Integrant.Element.Bit:Disabled"] {
    background-color: transparent;
    border: 1px solid var(--Colorant_Default_Border_6);
    color: var(--Colorant_Default_Text_0); }
  button[class~="Integrant.Element.Bit.Button"][class~="Integrant.Element.Bit.Button:Green"]:not([class~="Integrant.Element.Bit:Disabled"]) {
    background-color: var(--Colorant_Solids_Green_9);
    border: 1px solid var(--Colorant_Solids_Green_9);
    color: white; }
    button[class~="Integrant.Element.Bit.Button"][class~="Integrant.Element.Bit.Button:Green"]:not([class~="Integrant.Element.Bit:Disabled"]):hover, button[class~="Integrant.Element.Bit.Button"][class~="Integrant.Element.Bit.Button:Green"]:not([class~="Integrant.Element.Bit:Disabled"]):focus {
      background-color: var(--Colorant_Solids_Green_7);
      border: 1px solid var(--Colorant_Solids_Green_7);
      color: white; }
    button[class~="Integrant.Element.Bit.Button"][class~="Integrant.Element.Bit.Button:Green"]:not([class~="Integrant.Element.Bit:Disabled"]):active {
      background-color: var(--Colorant_Solids_Green_5);
      border: 1px solid var(--Colorant_Solids_Green_4);
      color: white; }
  button[class~="Integrant.Element.Bit.Button"][class~="Integrant.Element.Bit.Button:Green"][class~="Integrant.Element.Bit:Disabled"] {
    background-color: transparent;
    border: 1px solid var(--Colorant_Default_Border_6);
    color: var(--Colorant_Default_Text_0); }
  button[class~="Integrant.Element.Bit.Button"][class~="Integrant.Element.Bit.Button:Orange"]:not([class~="Integrant.Element.Bit:Disabled"]) {
    background-color: var(--Colorant_Solids_Orange_8);
    border: 1px solid var(--Colorant_Solids_Orange_8);
    color: white; }
    button[class~="Integrant.Element.Bit.Button"][class~="Integrant.Element.Bit.Button:Orange"]:not([class~="Integrant.Element.Bit:Disabled"]):hover, button[class~="Integrant.Element.Bit.Button"][class~="Integrant.Element.Bit.Button:Orange"]:not([class~="Integrant.Element.Bit:Disabled"]):focus {
      background-color: var(--Colorant_Solids_Orange_6);
      border: 1px solid var(--Colorant_Solids_Orange_6);
      color: white; }
    button[class~="Integrant.Element.Bit.Button"][class~="Integrant.Element.Bit.Button:Orange"]:not([class~="Integrant.Element.Bit:Disabled"]):active {
      background-color: var(--Colorant_Solids_Orange_4);
      border: 1px solid var(--Colorant_Solids_Orange_3);
      color: white; }
  button[class~="Integrant.Element.Bit.Button"][class~="Integrant.Element.Bit.Button:Orange"][class~="Integrant.Element.Bit:Disabled"] {
    background-color: transparent;
    border: 1px solid var(--Colorant_Default_Border_6);
    color: var(--Colorant_Default_Text_0); }
  button[class~="Integrant.Element.Bit.Button"][class~="Integrant.Element.Bit.Button:Purple"]:not([class~="Integrant.Element.Bit:Disabled"]) {
    background-color: var(--Colorant_Solids_Purple_9);
    border: 1px solid var(--Colorant_Solids_Purple_9);
    color: white; }
    button[class~="Integrant.Element.Bit.Button"][class~="Integrant.Element.Bit.Button:Purple"]:not([class~="Integrant.Element.Bit:Disabled"]):hover, button[class~="Integrant.Element.Bit.Button"][class~="Integrant.Element.Bit.Button:Purple"]:not([class~="Integrant.Element.Bit:Disabled"]):focus {
      background-color: var(--Colorant_Solids_Purple_7);
      border: 1px solid var(--Colorant_Solids_Purple_7);
      color: white; }
    button[class~="Integrant.Element.Bit.Button"][class~="Integrant.Element.Bit.Button:Purple"]:not([class~="Integrant.Element.Bit:Disabled"]):active {
      background-color: var(--Colorant_Solids_Purple_5);
      border: 1px solid var(--Colorant_Solids_Purple_4);
      color: white; }
  button[class~="Integrant.Element.Bit.Button"][class~="Integrant.Element.Bit.Button:Purple"][class~="Integrant.Element.Bit:Disabled"] {
    background-color: transparent;
    border: 1px solid var(--Colorant_Default_Border_6);
    color: var(--Colorant_Default_Text_0); }
  button[class~="Integrant.Element.Bit.Button"][class~="Integrant.Element.Bit.Button:Red"]:not([class~="Integrant.Element.Bit:Disabled"]) {
    background-color: var(--Colorant_Solids_Red_9);
    border: 1px solid var(--Colorant_Solids_Red_9);
    color: white; }
    button[class~="Integrant.Element.Bit.Button"][class~="Integrant.Element.Bit.Button:Red"]:not([class~="Integrant.Element.Bit:Disabled"]):hover, button[class~="Integrant.Element.Bit.Button"][class~="Integrant.Element.Bit.Button:Red"]:not([class~="Integrant.Element.Bit:Disabled"]):focus {
      background-color: var(--Colorant_Solids_Red_7);
      border: 1px solid var(--Colorant_Solids_Red_7);
      color: white; }
    button[class~="Integrant.Element.Bit.Button"][class~="Integrant.Element.Bit.Button:Red"]:not([class~="Integrant.Element.Bit:Disabled"]):active {
      background-color: var(--Colorant_Solids_Red_5);
      border: 1px solid var(--Colorant_Solids_Red_4);
      color: white; }
  button[class~="Integrant.Element.Bit.Button"][class~="Integrant.Element.Bit.Button:Red"][class~="Integrant.Element.Bit:Disabled"] {
    background-color: transparent;
    border: 1px solid var(--Colorant_Default_Border_6);
    color: var(--Colorant_Default_Text_0); }
  button[class~="Integrant.Element.Bit.Button"][class~="Integrant.Element.Bit.Button:Yellow"]:not([class~="Integrant.Element.Bit:Disabled"]) {
    background-color: var(--Colorant_Solids_Yellow_6);
    border: 1px solid var(--Colorant_Solids_Yellow_6);
    color: black; }
    button[class~="Integrant.Element.Bit.Button"][class~="Integrant.Element.Bit.Button:Yellow"]:not([class~="Integrant.Element.Bit:Disabled"]):hover, button[class~="Integrant.Element.Bit.Button"][class~="Integrant.Element.Bit.Button:Yellow"]:not([class~="Integrant.Element.Bit:Disabled"]):focus {
      background-color: var(--Colorant_Solids_Yellow_5);
      border: 1px solid var(--Colorant_Solids_Yellow_5);
      color: black; }
    button[class~="Integrant.Element.Bit.Button"][class~="Integrant.Element.Bit.Button:Yellow"]:not([class~="Integrant.Element.Bit:Disabled"]):active {
      background-color: var(--Colorant_Solids_Yellow_3);
      border: 1px solid var(--Colorant_Solids_Yellow_2);
      color: black; }
  button[class~="Integrant.Element.Bit.Button"][class~="Integrant.Element.Bit.Button:Yellow"][class~="Integrant.Element.Bit:Disabled"] {
    background-color: transparent;
    border: 1px solid var(--Colorant_Default_Border_6);
    color: var(--Colorant_Default_Text_0); }

div[class~="Integrant.Element.Bit.Arrow"] {
  box-sizing: border-box;
  vertical-align: middle;
  display: inline-block; }

div[class~="Integrant.Element.Bit.Checkbox"] {
  box-sizing: border-box;
  vertical-align: middle;
  cursor: pointer;
  user-select: none; }
  div[class~="Integrant.Element.Bit.Checkbox"][class~="Integrant.Element.Bit:Disabled"] {
    color: var(--Colorant_Default_Text_1);
    cursor: not-allowed; }

div[class~="Integrant.Element.Bit.Chip"] {
  box-sizing: border-box;
  vertical-align: middle;
  border-radius: 5px;
  display: inline-block;
  padding: 2px 5px; }

div[class~="Integrant.Element.Bit.Filler"] {
  flex-grow: 100; }

img[class~="Integrant.Element.Bit.Image"] {
  box-sizing: border-box;
  vertical-align: middle; }

a[class~="Integrant.Element.Bit.Title:Linked"], a[class~="Integrant.Element.Bit.Link"] {
  border-bottom: 3px solid transparent;
  border-top: 3px solid transparent;
  box-sizing: content-box;
  color: var(--Colorant_Default_Text_4);
  display: inline-block;
  text-decoration: none; }
  a[class~="Integrant.Element.Bit.Title:Linked"]:hover, a[class~="Integrant.Element.Bit.Link"]:hover {
    border-bottom-color: var(--Colorant_Default_Accent_7);
    color: var(--Colorant_Default_Text_4); }
  a[class~="Integrant.Element.Bit.Title:Linked"]::-moz-focus-inner, a[class~="Integrant.Element.Bit.Link"]::-moz-focus-inner {
    border: 0; }

a[class~="Integrant.Element.Bit.Link"] {
  box-sizing: border-box;
  vertical-align: middle; }
  a[class~="Integrant.Element.Bit.Link"][class~="Integrant.Element.Bit.Link:Highlighted"] {
    border-bottom-color: var(--Colorant_Default_Accent_5); }

div[class~="Integrant.Element.Bit.MonoBlock"] {
  box-sizing: border-box;
  vertical-align: middle;
  background-color: var(--Colorant_Default_Background_10);
  border: 2px solid var(--Colorant_Default_Border_8);
  border-radius: 3px;
  box-sizing: border-box;
  display: inline-block;
  font-family: var(--Integrant_MonospacedFont);
  padding: 2px 5px;
  user-select: all; }

div[class~="Integrant.Element.Bit.Separator"] {
  box-sizing: border-box;
  vertical-align: middle;
  border-left: 2px solid var(--Colorant_Default_Border_15);
  display: inline-block;
  height: 1em;
  margin: 0 5px; }

div[class~="Integrant.Element.Bit.Space"] {
  width: 10px; }

div[class~="Integrant.Element.Bit.ExternalComponent"] {
  box-sizing: border-box;
  vertical-align: middle;
  display: inline-block; }

div[class~="Integrant.Element.Bit.TextLine"] {
  width: 5px; }

div[class~="Integrant.Element.Bit.Title"], a[class~="Integrant.Element.Bit.Title:Linked"] {
  color: var(--Colorant_Default_Text_4);
  font-size: 1.15rem;
  font-weight: 500;
  text-decoration: none; }

/*# sourceMappingURL=Bits.css.map */