@mixin _Bit {
    box-sizing:     border-box;
    vertical-align: middle;
}

div[class~="Integrant.Element.Bit.Arrow"] {
    @include _Bit();

    display: inline-block;
}

div[class~="Integrant.Element.Bit.Chip"] {
    @include _Bit();

    border-radius: 5px;
    display:       inline-block;
    padding:       2px 5px;
}

div[class~="Integrant.Element.Bit.Filler"] {
    flex-grow: 100;
}

img[class~="Integrant.Element.Bit.Image"] {
    @include _Bit();
}

div[class~="Integrant.Element.Bit.Separator"] {
    @include _Bit();

    display: inline-block;
}

a[class~="Integrant.Element.Bit.Link"] {
    @include _Bit();

    color:           var(--Colorant_Default_Text_4);
    font-weight:     500;
    text-decoration: none;

    &:hover {
        border-bottom: 1px solid var(--Colorant_Default_Text_4);
        color:         var(--Colorant_Default_Text_4);
    }

    &::-moz-focus-inner {
        border: 0;
    }

    &[class~="Integrant.Element.Bit.Link:Highlighted"] {
        border-bottom: 2px solid var(--Colorant_Default_Accent_5);
    }
}

div[class~="Integrant.Element.Bit.MonoBlock"] {
    @include _Bit();

    background-color: var(--Colorant_Default_Background_10);
    border:           2px solid var(--Colorant_Default_Border_8);
    border-radius:    3px;
    box-sizing:       border-box;
    display:          inline-block;
    font-family:      var(--FontSet-MonospaceFont);
    padding:          2px 5px;
    user-select:      all;
}

div[class~="Integrant.Element.Bit.Separator"] {
    border-left: 2px solid var(--Colorant_Default_Border_10);
    height:      1em;
    margin:      0 5px;
}

div[class~="Integrant.Element.Bit.Space"] {
    font-weight:     500;
    text-decoration: none;
}

div[class~="Integrant.Element.Bit.TextLine"] {
    width: 5px;
}

div[class~="Integrant.Element.Bit.Title"] {
    color:           var(--Colorant_Default_Text_4);
    font-weight:     500;
    text-decoration: none;
}
