:root {
	--Colorant_Default_White_Background_0: #ffffff;
	--Colorant_Default_White_Background_1: #fdfdfd;
	--Colorant_Default_White_Background_2: #fbfbfb;
	--Colorant_Default_White_Background_3: #f9f9f9;
	--Colorant_Default_White_Background_4: #f7f7f7;
	--Colorant_Default_White_Background_5: #f5f5f5;
	--Colorant_Default_White_Background_6: #f4f4f4;
	--Colorant_Default_White_Background_7: #f2f2f2;
	--Colorant_Default_White_Background_8: #f0f0f0;
	--Colorant_Default_White_Background_9: #eeeeee;
	--Colorant_Default_White_Background_10: #ececec;
	--Colorant_Default_White_Background_11: #eaeaea;
	--Colorant_Default_White_Background_12: #e8e8e8;
	--Colorant_Default_White_Background_13: #e6e6e6;
	--Colorant_Default_White_Background_14: #e4e4e4;
	--Colorant_Default_White_Background_15: #e2e2e2;
	--Colorant_Default_White_Background_16: #e0e0e0;
	--Colorant_Default_White_Background_17: #dedede;
	--Colorant_Default_White_Background_18: #dddddd;
	--Colorant_Default_White_Background_19: #dbdbdb;
	--Colorant_Default_White_Background_20: #d9d9d9;
	--Colorant_Default_White_Border_0: #dfe2e6;
	--Colorant_Default_White_Border_1: #d8dee5;
	--Colorant_Default_White_Border_2: #d3dbe4;
	--Colorant_Default_White_Border_3: #ced8e3;
	--Colorant_Default_White_Border_4: #cad6e2;
	--Colorant_Default_White_Border_5: #c6d3e0;
	--Colorant_Default_White_Border_6: #c3d0de;
	--Colorant_Default_White_Border_7: #bfcddb;
	--Colorant_Default_White_Border_8: #bccad8;
	--Colorant_Default_White_Border_9: #b8c6d5;
	--Colorant_Default_White_Border_10: #b4c2d1;
	--Colorant_Default_White_Border_11: #b0becd;
	--Colorant_Default_White_Border_12: #abb9c8;
	--Colorant_Default_White_Border_13: #a6b4c2;
	--Colorant_Default_White_Border_14: #a0aebc;
	--Colorant_Default_White_Border_15: #9aa7b5;
	--Colorant_Default_White_Border_16: #93a0ad;
	--Colorant_Default_White_Border_17: #8d99a5;
	--Colorant_Default_White_Border_18: #85919d;
	--Colorant_Default_White_Border_19: #7e8995;
	--Colorant_Default_White_Border_20: #77828c;
	--Colorant_Default_White_Accent_0: #310d80;
	--Colorant_Default_White_Accent_1: #4112a6;
	--Colorant_Default_White_Accent_2: #5019c6;
	--Colorant_Default_White_Accent_3: #5d21de;
	--Colorant_Default_White_Accent_4: #6a2eec;
	--Colorant_Default_White_Accent_5: #7b42f5;
	--Colorant_Default_White_Accent_6: #9262fa;
	--Colorant_Default_White_Accent_7: #b08dfd;
	--Colorant_Default_White_Accent_8: #d3bfff;
	--Colorant_Default_White_Text_0: #8d99a6;
	--Colorant_Default_White_Text_1: #7c8691;
	--Colorant_Default_White_Text_2: #6b747c;
	--Colorant_Default_White_Text_3: #5a6168;
	--Colorant_Default_White_Text_4: #4a4e53;
	--Colorant_Default_White_Text_5: #393b3e;
	--Colorant_Default_White_Text_6: #272829;
	--Colorant_Default_White_Text_7: #141415;
	--Colorant_Default_White_Text_8: #000000;
}
