:root {
	--Colorant_Default_Light_Background_0: #ffffff;
	--Colorant_Default_Light_Background_1: #f6fafe;
	--Colorant_Default_Light_Background_2: #eff6fe;
	--Colorant_Default_Light_Background_3: #e9f3fd;
	--Colorant_Default_Light_Background_4: #e4f0fc;
	--Colorant_Default_Light_Background_5: #e0edfa;
	--Colorant_Default_Light_Background_6: #dceaf8;
	--Colorant_Default_Light_Background_7: #d8e7f6;
	--Colorant_Default_Light_Background_8: #d4e4f4;
	--Colorant_Default_Light_Background_9: #d1e1f1;
	--Colorant_Default_Light_Background_10: #cdddee;
	--Colorant_Default_Light_Background_11: #c9d9ea;
	--Colorant_Default_Light_Background_12: #c5d5e5;
	--Colorant_Default_Light_Background_13: #c0d0e1;
	--Colorant_Default_Light_Background_14: #bbcbdb;
	--Colorant_Default_Light_Background_15: #b6c5d5;
	--Colorant_Default_Light_Background_16: #b0bfcf;
	--Colorant_Default_Light_Background_17: #aab9c8;
	--Colorant_Default_Light_Background_18: #a4b2c1;
	--Colorant_Default_Light_Background_19: #9eacba;
	--Colorant_Default_Light_Background_20: #98a5b3;
	--Colorant_Default_Light_Border_0: #dfe2e6;
	--Colorant_Default_Light_Border_1: #d8dee5;
	--Colorant_Default_Light_Border_2: #d3dbe4;
	--Colorant_Default_Light_Border_3: #ced8e3;
	--Colorant_Default_Light_Border_4: #cad6e2;
	--Colorant_Default_Light_Border_5: #c6d3e0;
	--Colorant_Default_Light_Border_6: #c3d0de;
	--Colorant_Default_Light_Border_7: #bfcddb;
	--Colorant_Default_Light_Border_8: #bccad8;
	--Colorant_Default_Light_Border_9: #b8c6d5;
	--Colorant_Default_Light_Border_10: #b4c2d1;
	--Colorant_Default_Light_Border_11: #b0becd;
	--Colorant_Default_Light_Border_12: #abb9c8;
	--Colorant_Default_Light_Border_13: #a6b4c2;
	--Colorant_Default_Light_Border_14: #a0aebc;
	--Colorant_Default_Light_Border_15: #9aa7b5;
	--Colorant_Default_Light_Border_16: #93a0ad;
	--Colorant_Default_Light_Border_17: #8d99a5;
	--Colorant_Default_Light_Border_18: #85919d;
	--Colorant_Default_Light_Border_19: #7e8995;
	--Colorant_Default_Light_Border_20: #77828c;
	--Colorant_Default_Light_Accent_0: #310d80;
	--Colorant_Default_Light_Accent_1: #4112a6;
	--Colorant_Default_Light_Accent_2: #5019c6;
	--Colorant_Default_Light_Accent_3: #5d21de;
	--Colorant_Default_Light_Accent_4: #6a2eec;
	--Colorant_Default_Light_Accent_5: #7b42f5;
	--Colorant_Default_Light_Accent_6: #9262fa;
	--Colorant_Default_Light_Accent_7: #b08dfd;
	--Colorant_Default_Light_Accent_8: #d3bfff;
	--Colorant_Default_Light_Text_0: #8d99a6;
	--Colorant_Default_Light_Text_1: #7c8691;
	--Colorant_Default_Light_Text_2: #6b747c;
	--Colorant_Default_Light_Text_3: #5a6168;
	--Colorant_Default_Light_Text_4: #4a4e53;
	--Colorant_Default_Light_Text_5: #393b3e;
	--Colorant_Default_Light_Text_6: #272829;
	--Colorant_Default_Light_Text_7: #141415;
	--Colorant_Default_Light_Text_8: #000000;
}
