div[class~="Integrant.Element.Component.Combobox"] {
    div[class~="Integrant.Element.Component.Combobox.Input"] {
        input {

        }
    }

    div[class~="Integrant.Element.Component.Combobox.Dropdown"] {
        background-color: var(--Colorant_Default_Background_2);
        border:           1px solid var(--Colorant_Default_Border_15);
        border-radius:    2px;
        box-shadow:       0 2px 4px 2px var(--Colorant_Default_Shadow_0);
        //font-size:        13px;
        //display: none;

        display:          none;
        max-height:       200px;

        //padding:          5px 10px;
        overflow-y:       scroll;

        padding:          2px;

        z-index:          99;

        &[data-shown] {
            display: block;
        }

        div[class~="Integrant.Element.Component.Combobox.Option"] {
            border:        1px solid transparent;
            border-radius: 2px;
            cursor:        pointer;
            padding:       3px;

            &:hover:not([data-disabled]) {
                background-color: var(--Colorant_Default_Background_5);
            }

            &[data-focused] {
                background-color: var(--Colorant_Default_Background_4);
                border:           1px solid var(--Colorant_Default_Accent_4);
                box-shadow:       0 0 4px -1px var(--Colorant_Default_Shadow_0) inset;
            }

            &[data-disabled] {
                color:  var(--Colorant_Default_Text_1);
                cursor: not-allowed;
            }
        }
    }
}
