div[class~="Integrant.Element.Component.TabbedPanel.Container"] {
    border: 1px solid var(--Colorant_Default_Border_14);
    margin: 3px;

    div[class~="Integrant.Element.Component.TabbedPanel.TabRow"] {
        align-items:     stretch;
        border-bottom:   1px solid var(--Colorant_Default_Border_8);
        display:         flex;
        justify-content: flex-start;

        div[class~="Integrant.Element.Component.TabbedPanel.Tab"] {
            align-items: center;
            cursor:      pointer;
            display:     flex;
            padding:     0 5px;

            &::after {
                content:  '';
                height:   1px;
                left:     1px;
                position: absolute;
                right:    1px;
                top:      100%;
            }

            &:not(:hover):not([class~="Integrant.Element.Component.TabbedPanel.Tab:Focused"]) {
                color: var(--Colorant_Default_Text_1);
            }

            &:hover:not([class~="Integrant.Element.Component.TabbedPanel.Tab:Focused"]) {
            }

            &[class~="Integrant.Element.Component.TabbedPanel.Tab:Focused"] {
                position: relative;

                &::after {
                    background-color: var(--Colorant_Default_Accent_4);
                }
            }

            &[class~="Integrant.Element.Component.TabbedPanel.Tab:Disabled"] {
                cursor: not-allowed;
            }
        }
    }

    div[class~="Integrant.Element.Component.TabbedPanel.Panel"] {
        padding: 3px;
    }
}