div[class~="Integrant.Rudiment.Input"][class~="Integrant.Rudiment.Input:FailsRequirement"] input, div[class~="Integrant.Rudiment.Input"][class~="Integrant.Rudiment.Input:FailsRequirement"] textarea {
  border: 1px solid red; }

div[class~="Integrant.Rudiment.Input"][class~="Integrant.Rudiment.Input:Disabled"] * {
  cursor: not-allowed; }

div[class~="Integrant.Rudiment.Input"]:not([class~="Integrant.Rudiment.Input:Monospace"]) input, div[class~="Integrant.Rudiment.Input"]:not([class~="Integrant.Rudiment.Input:Monospace"]) textarea {
  font-family: var(--FontSet-SansSerifFont); }

div[class~="Integrant.Rudiment.Input"][class~="Integrant.Rudiment.Input:Monospace"] input, div[class~="Integrant.Rudiment.Input"][class~="Integrant.Rudiment.Input:Monospace"] textarea {
  font-family: var(--FontSet-MonospaceFont); }
