@page "/"
@using Integrant.Element.Overrides
@using Microsoft.AspNetCore.Http
@namespace Integrant.Web.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@inject IHttpContextAccessor HttpContextAccessor

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Web</title>
    <base href="~/"/>

    @* <link rel="stylesheet" href="_content/Integrant.Resources/Icons.css"/> *@
    @* <link rel="stylesheet" href="_content/Rudiment/vendor/material-design-icons/iconfont/material-icons.css"/> *@

    @* <link rel="stylesheet" href="_content/Rudiment/css/Validation.css"/> *@
    @* <link rel="stylesheet" href="_content/FlareSelect/FlareSelect.css"/> *@
    @* *@
    @* <script src="_content/Superset/js/Utilities.js"></script> *@
    @* <script src="_content/Superset/js/ClickListener.js"></script> *@
    @* <script src="_content/Superset/js/KeyListener.js"></script> *@
    
    @* <script src="_content/Integrant.Resources/Libraries/Popper/popper.min.js"></script> *@
    @* <script src="_content/Integrant.Resources/Libraries/Popper/popper.interop.js" type="module"></script> *@

    <link rel="stylesheet" href="@InternetExplorerNotice.StylesheetURL"/>
    
    <style>
        #blazor-error-ui {
            display: none;
        }
    </style>
</head>
<body>

@if (InternetExplorerNotice.IsIE(HttpContextAccessor.HttpContext.Request))
{
    <div class="Integrant.Element.Override.InternetExplorerNotice">
        <div>
            <h1>Internet Explorer detected!</h1>
            <p>This app cannot run in your browser.</p>
            <p>Please use a supported browser, like Google Chrome, which may already be installed on your computer.</p>
            <p>If you need more help, please contact the Help Desk.</p>
        </div>
    </div>
}
else
{
    <app>
        <component type="typeof(App)" render-mode="ServerPrerendered"/>
    </app>
}

<div id="blazor-error-ui">
    <div class="Background"></div>
    <div class="Content">
        <div class="Message">An error has occurred. This application may no longer respond until reloaded.</div>
        <div class="Buttons">
            <button class="Integrant.Element.Override.Button dismiss">DISMISS</button>
            <button class="Integrant.Element.Override.Button:Red reload" href="">RELOAD</button>
        </div>
    </div>
</div>

<script src="_framework/blazor.server.js"></script>
</body>
</html>