@using Fundament.Component
@using Microsoft.AspNetCore.Components

@page "/"

<StructureContainer T="User" Structure="@_structure" Value="@_testUser">
    <table>
        <tr>
            <td>
                <MemberKey TS="User" TM="bool" ID="Boolean"/>
            </td>
            <td>
                <MemberValue TS="User" TM="bool" ID="Boolean"/>
            </td>
        </tr>
        <tr>
            <td>
                <MemberKey TS="User" TM="int" ID="UserID"/>
            </td>
            <td>
                <MemberValue TS="User" TM="int" ID="UserID"/>
            </td>
        </tr>
        <tr>
            <td>
                <MemberKey TS="User" TM="string" ID="Name"/>
            </td>
            <td>
                <MemberValue TS="User" TM="string" ID="Name"/>
                
                <input type="text" @oninput="@(args => _structure.GetMember<string>(nameof(User.Name)).UpdateValue(_testUser, args.Value.ToString()))"/>
                <MemberInput TS="User" TM="string" ID="Name"/>
            </td>
        </tr>
        <tr>
            <td>
                <MemberKey TS="User" TM="string" ID="PhoneNumber"/>
            </td>
            <td>
                <MemberValue TS="User" TM="string" ID="PhoneNumber"/>
            </td>
        </tr>
        <tr>
            <td>
                <MemberKey TS="User" TM="string" ID="Email"/>
            </td>
            <td>
                <MemberValue TS="User" TM="string" ID="Email"/>
                
                <MemberInput TS="User" TM="string" ID="Email"/>
                
                <MemberValidations TS="User" TM="string" ID="Email"/>
            </td>
        </tr>
    </table>
</StructureContainer>