:root {
	--Colorant_Default_Background_0: #000000;
	--Colorant_Default_Background_0_Text: white;
	--Colorant_Default_Background_1: #040405;
	--Colorant_Default_Background_1_Text: white;
	--Colorant_Default_Background_2: #090809;
	--Colorant_Default_Background_2_Text: white;
	--Colorant_Default_Background_3: #0d0c0e;
	--Colorant_Default_Background_3_Text: white;
	--Colorant_Default_Background_4: #111013;
	--Colorant_Default_Background_4_Text: white;
	--Colorant_Default_Background_5: #151418;
	--Colorant_Default_Background_5_Text: white;
	--Colorant_Default_Background_6: #19171c;
	--Colorant_Default_Background_6_Text: white;
	--Colorant_Default_Background_7: #1d1b21;
	--Colorant_Default_Background_7_Text: white;
	--Colorant_Default_Background_8: #211f26;
	--Colorant_Default_Background_8_Text: white;
	--Colorant_Default_Background_9: #24222a;
	--Colorant_Default_Background_9_Text: white;
	--Colorant_Default_Background_10: #28262f;
	--Colorant_Default_Background_10_Text: white;
	--Colorant_Default_Background_11: #2c2a34;
	--Colorant_Default_Background_11_Text: white;
	--Colorant_Default_Background_12: #302e39;
	--Colorant_Default_Background_12_Text: white;
	--Colorant_Default_Background_13: #34313d;
	--Colorant_Default_Background_13_Text: white;
	--Colorant_Default_Background_14: #383542;
	--Colorant_Default_Background_14_Text: white;
	--Colorant_Default_Background_15: #3c3947;
	--Colorant_Default_Background_15_Text: white;
	--Colorant_Default_Background_16: #3f3c4b;
	--Colorant_Default_Background_16_Text: white;
	--Colorant_Default_Background_17: #434050;
	--Colorant_Default_Background_17_Text: white;
	--Colorant_Default_Background_18: #474455;
	--Colorant_Default_Background_18_Text: white;
	--Colorant_Default_Background_19: #4b485a;
	--Colorant_Default_Background_19_Text: white;
	--Colorant_Default_Background_20: #4f4b5e;
	--Colorant_Default_Background_20_Text: white;
	--Colorant_Default_Border_0: #18171a;
	--Colorant_Default_Border_1: #1c1b1e;
	--Colorant_Default_Border_2: #201e23;
	--Colorant_Default_Border_3: #242228;
	--Colorant_Default_Border_4: #27252c;
	--Colorant_Default_Border_5: #2b2931;
	--Colorant_Default_Border_6: #2f2c36;
	--Colorant_Default_Border_7: #33303b;
	--Colorant_Default_Border_8: #37343f;
	--Colorant_Default_Border_9: #3b3744;
	--Colorant_Default_Border_10: #3f3b49;
	--Colorant_Default_Border_11: #433e4d;
	--Colorant_Default_Border_12: #474252;
	--Colorant_Default_Border_13: #4b4657;
	--Colorant_Default_Border_14: #4f495c;
	--Colorant_Default_Border_15: #534d60;
	--Colorant_Default_Border_16: #575165;
	--Colorant_Default_Border_17: #5b556a;
	--Colorant_Default_Border_18: #5f586e;
	--Colorant_Default_Border_19: #635c73;
	--Colorant_Default_Border_20: #676078;
	--Colorant_Default_Accent_0: #310d80;
	--Colorant_Default_Accent_0_Text: white;
	--Colorant_Default_Accent_1: #4112a6;
	--Colorant_Default_Accent_1_Text: white;
	--Colorant_Default_Accent_2: #5019c6;
	--Colorant_Default_Accent_2_Text: white;
	--Colorant_Default_Accent_3: #5d21de;
	--Colorant_Default_Accent_3_Text: white;
	--Colorant_Default_Accent_4: #6a2eec;
	--Colorant_Default_Accent_4_Text: white;
	--Colorant_Default_Accent_5: #7b42f5;
	--Colorant_Default_Accent_5_Text: white;
	--Colorant_Default_Accent_6: #9262fa;
	--Colorant_Default_Accent_6_Text: black;
	--Colorant_Default_Accent_7: #b08dfd;
	--Colorant_Default_Accent_7_Text: black;
	--Colorant_Default_Accent_8: #d3bfff;
	--Colorant_Default_Accent_8_Text: black;
	--Colorant_Default_Text_0: #504c59;
	--Colorant_Default_Text_1: #7d778b;
	--Colorant_Default_Text_2: #a49cb5;
	--Colorant_Default_Text_3: #c1b9d4;
	--Colorant_Default_Text_4: #d5cde7;
	--Colorant_Default_Text_5: #e3ddf2;
	--Colorant_Default_Text_6: #eeeaf9;
	--Colorant_Default_Text_7: #f7f5fc;
	--Colorant_Default_Text_8: #ffffff;
	--Colorant_Default_Shadow_0: rgba(0, 0, 0, 1);
}
