:root {
	--Colorant_Default_Background_0: #000000;
	--Colorant_Default_Background_0_Text: #32e71e;
	--Colorant_Default_Background_1: #050505;
	--Colorant_Default_Background_1_Text: #32e71e;
	--Colorant_Default_Background_2: #090909;
	--Colorant_Default_Background_2_Text: #32e71e;
	--Colorant_Default_Background_3: #0d0d0e;
	--Colorant_Default_Background_3_Text: #32e71e;
	--Colorant_Default_Background_4: #111113;
	--Colorant_Default_Background_4_Text: #32e71e;
	--Colorant_Default_Background_5: #151418;
	--Colorant_Default_Background_5_Text: #32e71e;
	--Colorant_Default_Background_6: #19181c;
	--Colorant_Default_Background_6_Text: #32e71e;
	--Colorant_Default_Background_7: #1d1c21;
	--Colorant_Default_Background_7_Text: #32e71e;
	--Colorant_Default_Background_8: #211f26;
	--Colorant_Default_Background_8_Text: #32e71e;
	--Colorant_Default_Background_9: #25232a;
	--Colorant_Default_Background_9_Text: #32e71e;
	--Colorant_Default_Background_10: #29272f;
	--Colorant_Default_Background_10_Text: #32e71e;
	--Colorant_Default_Background_11: #2d2a34;
	--Colorant_Default_Background_11_Text: #32e71e;
	--Colorant_Default_Background_12: #312e39;
	--Colorant_Default_Background_12_Text: #32e71e;
	--Colorant_Default_Background_13: #35313d;
	--Colorant_Default_Background_13_Text: #32e71e;
	--Colorant_Default_Background_14: #393542;
	--Colorant_Default_Background_14_Text: #32e71e;
	--Colorant_Default_Background_15: #3d3947;
	--Colorant_Default_Background_15_Text: #32e71e;
	--Colorant_Default_Background_16: #413d4b;
	--Colorant_Default_Background_16_Text: #32e71e;
	--Colorant_Default_Background_17: #454050;
	--Colorant_Default_Background_17_Text: #32e71e;
	--Colorant_Default_Background_18: #494455;
	--Colorant_Default_Background_18_Text: #32e71e;
	--Colorant_Default_Background_19: #4d485a;
	--Colorant_Default_Background_19_Text: #32e71e;
	--Colorant_Default_Background_20: #514b5e;
	--Colorant_Default_Background_20_Text: #32e71e;
	--Colorant_Default_Border_0: #1a1a1a;
	--Colorant_Default_Border_1: #1d1d1e;
	--Colorant_Default_Border_2: #212023;
	--Colorant_Default_Border_3: #252428;
	--Colorant_Default_Border_4: #29272c;
	--Colorant_Default_Border_5: #2c2a31;
	--Colorant_Default_Border_6: #302e36;
	--Colorant_Default_Border_7: #34313b;
	--Colorant_Default_Border_8: #38343f;
	--Colorant_Default_Border_9: #3c3844;
	--Colorant_Default_Border_10: #403b49;
	--Colorant_Default_Border_11: #433f4d;
	--Colorant_Default_Border_12: #474252;
	--Colorant_Default_Border_13: #4b4657;
	--Colorant_Default_Border_14: #4f4a5c;
	--Colorant_Default_Border_15: #534d60;
	--Colorant_Default_Border_16: #575165;
	--Colorant_Default_Border_17: #5b556a;
	--Colorant_Default_Border_18: #5f586e;
	--Colorant_Default_Border_19: #635c73;
	--Colorant_Default_Border_20: #676078;
	--Colorant_Default_Accent_0: #18800d;
	--Colorant_Default_Accent_0_Text: #32e71e;
	--Colorant_Default_Accent_1: #21a612;
	--Colorant_Default_Accent_1_Text: black;
	--Colorant_Default_Accent_2: #2ac619;
	--Colorant_Default_Accent_2_Text: black;
	--Colorant_Default_Accent_3: #34de21;
	--Colorant_Default_Accent_3_Text: black;
	--Colorant_Default_Accent_4: #41ec2e;
	--Colorant_Default_Accent_4_Text: black;
	--Colorant_Default_Accent_5: #54f542;
	--Colorant_Default_Accent_5_Text: black;
	--Colorant_Default_Accent_6: #71fa62;
	--Colorant_Default_Accent_6_Text: black;
	--Colorant_Default_Accent_7: #98fd8d;
	--Colorant_Default_Accent_7_Text: black;
	--Colorant_Default_Accent_8: #c6ffbf;
	--Colorant_Default_Accent_8_Text: black;
	--Colorant_Default_Text_0: #095900;
	--Colorant_Default_Text_1: #108b02;
	--Colorant_Default_Text_2: #18b507;
	--Colorant_Default_Text_3: #23d410;
	--Colorant_Default_Text_4: #32e71e;
	--Colorant_Default_Text_5: #45f231;
	--Colorant_Default_Text_6: #5cf94a;
	--Colorant_Default_Text_7: #75fc66;
	--Colorant_Default_Text_8: #8cff80;
	--Colorant_Default_Shadow_0: rgba(0, 0, 0, 1);
}
