:root {
	--Colorant_Default_Background_0: #ffffff;
	--Colorant_Default_Background_0_Text: black;
	--Colorant_Default_Background_1: #fef6fb;
	--Colorant_Default_Background_1_Text: black;
	--Colorant_Default_Background_2: #feeff7;
	--Colorant_Default_Background_2_Text: black;
	--Colorant_Default_Background_3: #fde9f4;
	--Colorant_Default_Background_3_Text: black;
	--Colorant_Default_Background_4: #fce4f1;
	--Colorant_Default_Background_4_Text: black;
	--Colorant_Default_Background_5: #fae0ee;
	--Colorant_Default_Background_5_Text: black;
	--Colorant_Default_Background_6: #f8dceb;
	--Colorant_Default_Background_6_Text: black;
	--Colorant_Default_Background_7: #f6d8e8;
	--Colorant_Default_Background_7_Text: black;
	--Colorant_Default_Background_8: #f4d4e5;
	--Colorant_Default_Background_8_Text: black;
	--Colorant_Default_Background_9: #f1d1e2;
	--Colorant_Default_Background_9_Text: black;
	--Colorant_Default_Background_10: #eecdde;
	--Colorant_Default_Background_10_Text: black;
	--Colorant_Default_Background_11: #eac9da;
	--Colorant_Default_Background_11_Text: black;
	--Colorant_Default_Background_12: #e5c5d6;
	--Colorant_Default_Background_12_Text: black;
	--Colorant_Default_Background_13: #e1c0d1;
	--Colorant_Default_Background_13_Text: black;
	--Colorant_Default_Background_14: #dbbbcc;
	--Colorant_Default_Background_14_Text: black;
	--Colorant_Default_Background_15: #d5b6c6;
	--Colorant_Default_Background_15_Text: black;
	--Colorant_Default_Background_16: #cfb0c0;
	--Colorant_Default_Background_16_Text: black;
	--Colorant_Default_Background_17: #c8aaba;
	--Colorant_Default_Background_17_Text: black;
	--Colorant_Default_Background_18: #c1a4b3;
	--Colorant_Default_Background_18_Text: black;
	--Colorant_Default_Background_19: #ba9ead;
	--Colorant_Default_Background_19_Text: black;
	--Colorant_Default_Background_20: #b398a6;
	--Colorant_Default_Background_20_Text: black;
	--Colorant_Default_Border_0: #e6dfe2;
	--Colorant_Default_Border_1: #e5d8df;
	--Colorant_Default_Border_2: #e4d3dc;
	--Colorant_Default_Border_3: #e3ced9;
	--Colorant_Default_Border_4: #e2cad7;
	--Colorant_Default_Border_5: #e0c6d4;
	--Colorant_Default_Border_6: #dec3d1;
	--Colorant_Default_Border_7: #dbbfce;
	--Colorant_Default_Border_8: #d8bccb;
	--Colorant_Default_Border_9: #d5b8c7;
	--Colorant_Default_Border_10: #d1b4c3;
	--Colorant_Default_Border_11: #cdb0bf;
	--Colorant_Default_Border_12: #c8abba;
	--Colorant_Default_Border_13: #c2a6b5;
	--Colorant_Default_Border_14: #bca0af;
	--Colorant_Default_Border_15: #b59aa8;
	--Colorant_Default_Border_16: #ad93a1;
	--Colorant_Default_Border_17: #a58d9a;
	--Colorant_Default_Border_18: #9d8592;
	--Colorant_Default_Border_19: #957e8a;
	--Colorant_Default_Border_20: #8c7782;
	--Colorant_Default_Accent_0: #800d4a;
	--Colorant_Default_Accent_0_Text: white;
	--Colorant_Default_Accent_1: #a61261;
	--Colorant_Default_Accent_1_Text: white;
	--Colorant_Default_Accent_2: #c61975;
	--Colorant_Default_Accent_2_Text: white;
	--Colorant_Default_Accent_3: #de2186;
	--Colorant_Default_Accent_3_Text: white;
	--Colorant_Default_Accent_4: #ec2e94;
	--Colorant_Default_Accent_4_Text: black;
	--Colorant_Default_Accent_5: #f542a2;
	--Colorant_Default_Accent_5_Text: black;
	--Colorant_Default_Accent_6: #fa62b3;
	--Colorant_Default_Accent_6_Text: black;
	--Colorant_Default_Accent_7: #fd8dc9;
	--Colorant_Default_Accent_7_Text: black;
	--Colorant_Default_Accent_8: #ffbfe1;
	--Colorant_Default_Accent_8_Text: black;
	--Colorant_Default_Text_0: #b34781;
	--Colorant_Default_Text_1: #9c4172;
	--Colorant_Default_Text_2: #863c63;
	--Colorant_Default_Text_3: #703755;
	--Colorant_Default_Text_4: #593147;
	--Colorant_Default_Text_5: #432b38;
	--Colorant_Default_Text_6: #2d2228;
	--Colorant_Default_Text_7: #161415;
	--Colorant_Default_Text_8: #000000;
	--Colorant_Default_Shadow_0: rgba(0, 0, 0, 0.15);
}
