:root {
	--Colorant_Default_Background_0: #ffffff;
	--Colorant_Default_Background_0_Text: black;
	--Colorant_Default_Background_1: #fbfbfb;
	--Colorant_Default_Background_1_Text: black;
	--Colorant_Default_Background_2: #f6f6f6;
	--Colorant_Default_Background_2_Text: black;
	--Colorant_Default_Background_3: #f2f2f2;
	--Colorant_Default_Background_3_Text: black;
	--Colorant_Default_Background_4: #ededed;
	--Colorant_Default_Background_4_Text: black;
	--Colorant_Default_Background_5: #e9e9e9;
	--Colorant_Default_Background_5_Text: black;
	--Colorant_Default_Background_6: #e4e4e4;
	--Colorant_Default_Background_6_Text: black;
	--Colorant_Default_Background_7: #e0e0e0;
	--Colorant_Default_Background_7_Text: black;
	--Colorant_Default_Background_8: #dbdbdb;
	--Colorant_Default_Background_8_Text: black;
	--Colorant_Default_Background_9: #d7d7d7;
	--Colorant_Default_Background_9_Text: black;
	--Colorant_Default_Background_10: #d2d2d2;
	--Colorant_Default_Background_10_Text: black;
	--Colorant_Default_Background_11: #cecece;
	--Colorant_Default_Background_11_Text: black;
	--Colorant_Default_Background_12: #c9c9c9;
	--Colorant_Default_Background_12_Text: black;
	--Colorant_Default_Background_13: #c5c5c5;
	--Colorant_Default_Background_13_Text: black;
	--Colorant_Default_Background_14: #c1c1c1;
	--Colorant_Default_Background_14_Text: black;
	--Colorant_Default_Background_15: #bcbcbc;
	--Colorant_Default_Background_15_Text: black;
	--Colorant_Default_Background_16: #b8b8b8;
	--Colorant_Default_Background_16_Text: black;
	--Colorant_Default_Background_17: #b3b3b3;
	--Colorant_Default_Background_17_Text: black;
	--Colorant_Default_Background_18: #afafaf;
	--Colorant_Default_Background_18_Text: black;
	--Colorant_Default_Background_19: #aaaaaa;
	--Colorant_Default_Background_19_Text: black;
	--Colorant_Default_Background_20: #a6a6a6;
	--Colorant_Default_Background_20_Text: black;
	--Colorant_Default_Border_0: #e6e6e6;
	--Colorant_Default_Border_1: #e1e1e1;
	--Colorant_Default_Border_2: #dddddd;
	--Colorant_Default_Border_3: #d8d8d8;
	--Colorant_Default_Border_4: #d4d4d4;
	--Colorant_Default_Border_5: #cfcfcf;
	--Colorant_Default_Border_6: #cbcbcb;
	--Colorant_Default_Border_7: #c6c6c6;
	--Colorant_Default_Border_8: #c2c2c2;
	--Colorant_Default_Border_9: #bdbdbd;
	--Colorant_Default_Border_10: #b9b9b9;
	--Colorant_Default_Border_11: #b4b4b4;
	--Colorant_Default_Border_12: #b0b0b0;
	--Colorant_Default_Border_13: #ababab;
	--Colorant_Default_Border_14: #a7a7a7;
	--Colorant_Default_Border_15: #a3a3a3;
	--Colorant_Default_Border_16: #9e9e9e;
	--Colorant_Default_Border_17: #9a9a9a;
	--Colorant_Default_Border_18: #959595;
	--Colorant_Default_Border_19: #919191;
	--Colorant_Default_Border_20: #8c8c8c;
	--Colorant_Default_Accent_0: #310d80;
	--Colorant_Default_Accent_0_Text: white;
	--Colorant_Default_Accent_1: #4112a6;
	--Colorant_Default_Accent_1_Text: white;
	--Colorant_Default_Accent_2: #5019c6;
	--Colorant_Default_Accent_2_Text: white;
	--Colorant_Default_Accent_3: #5d21de;
	--Colorant_Default_Accent_3_Text: white;
	--Colorant_Default_Accent_4: #6a2eec;
	--Colorant_Default_Accent_4_Text: white;
	--Colorant_Default_Accent_5: #7b42f5;
	--Colorant_Default_Accent_5_Text: white;
	--Colorant_Default_Accent_6: #9262fa;
	--Colorant_Default_Accent_6_Text: black;
	--Colorant_Default_Accent_7: #b08dfd;
	--Colorant_Default_Accent_7_Text: black;
	--Colorant_Default_Accent_8: #d3bfff;
	--Colorant_Default_Accent_8_Text: black;
	--Colorant_Default_Text_0: #98a5b3;
	--Colorant_Default_Text_1: #7b8590;
	--Colorant_Default_Text_2: #5c636b;
	--Colorant_Default_Text_3: #3f4449;
	--Colorant_Default_Text_4: #292b2e;
	--Colorant_Default_Text_5: #18191a;
	--Colorant_Default_Text_6: #0c0d0d;
	--Colorant_Default_Text_7: #050505;
	--Colorant_Default_Text_8: #000000;
	--Colorant_Default_Shadow_0: rgba(0, 0, 0, 0.15);
}
