#components-reconnect-modal {
    background: rgba(0, 0, 0, 0.8) !important;
    font-size:  15pt;
    opacity:    1 !important;
    
    h5 {
        background:    rgba(0, 0, 255, 0.8);
        border-radius: 5px;
        box-shadow:    0 0 3px 1px var(--Colorant_Default_Shadow_0);
        color:         white;
        display:       inline-block;
        margin:        20px 0 5px 0;
        padding:       5px 10px;

        a {
            color:     #dddddd;
            font-size: 12pt;
        }
    }

    button {
        background-color: var(--Colorant_Default_Background_6);
        border:           1px solid var(--Colorant_Default_Border_6);
        border-radius:    3px;
        box-shadow:       0 0 3px 1px var(--Colorant_Default_Shadow_0);
        color:            var(--Colorant_Default_Text_7);
        cursor:           pointer;
        font-weight:      500;
        outline:          none;
        padding:          2px 6px;

        &:hover:not(:disabled), &:focus:not(:disabled) {
            background-color: var(--Colorant_Default_Background_9);
            border:           1px solid var(--Colorant_Default_Border_9);
        }

        &:active:not(:disabled) {
            background-color: var(--Colorant_Default_Background_11);
            border:           1px solid var(--Colorant_Default_Border_11);
        }
    }
}