button[class~="Integrant.Element.Override.Button:Yellow"], button[class~="Integrant.Element.Override.Button:Red"], button[class~="Integrant.Element.Override.Button:Purple"], button[class~="Integrant.Element.Override.Button:Orange"], button[class~="Integrant.Element.Override.Button:Green"], button[class~="Integrant.Element.Override.Button:Blue"], button[class~="Integrant.Element.Override.Button:Default"],
button[class~="Integrant.Element.Override.Button"]:not([class~="Integrant.Element.Override.Button:Blue"]):not([class~="Integrant.Element.Override.Button:Green"]):not([class~="Integrant.Element.Override.Button:Orange"]):not([class~="Integrant.Element.Override.Button:Purple"]):not([class~="Integrant.Element.Override.Button:Red"]):not([class~="Integrant.Element.Override.Button:Yellow"]) {
  align-items: center;
  border-radius: 3px;
  cursor: pointer;
  display: inline-flex;
  font-family: var(--Integrant_SansSerifFont);
  font-weight: 500;
  outline: none;
  padding: 2px 6px;
  white-space: pre; }
  button[class~="Integrant.Element.Override.Button:Yellow"]::-moz-focus-inner, button[class~="Integrant.Element.Override.Button:Red"]::-moz-focus-inner, button[class~="Integrant.Element.Override.Button:Purple"]::-moz-focus-inner, button[class~="Integrant.Element.Override.Button:Orange"]::-moz-focus-inner, button[class~="Integrant.Element.Override.Button:Green"]::-moz-focus-inner, button[class~="Integrant.Element.Override.Button:Blue"]::-moz-focus-inner, button[class~="Integrant.Element.Override.Button:Default"]::-moz-focus-inner,
  button[class~="Integrant.Element.Override.Button"]:not([class~="Integrant.Element.Override.Button:Blue"]):not([class~="Integrant.Element.Override.Button:Green"]):not([class~="Integrant.Element.Override.Button:Orange"]):not([class~="Integrant.Element.Override.Button:Purple"]):not([class~="Integrant.Element.Override.Button:Red"]):not([class~="Integrant.Element.Override.Button:Yellow"])::-moz-focus-inner {
    border: 0; }
  button[class~="Integrant.Element.Override.Button:Yellow"]:disabled, button[class~="Integrant.Element.Override.Button:Red"]:disabled, button[class~="Integrant.Element.Override.Button:Purple"]:disabled, button[class~="Integrant.Element.Override.Button:Orange"]:disabled, button[class~="Integrant.Element.Override.Button:Green"]:disabled, button[class~="Integrant.Element.Override.Button:Blue"]:disabled, button[class~="Integrant.Element.Override.Button:Default"]:disabled,
  button[class~="Integrant.Element.Override.Button"]:disabled:not([class~="Integrant.Element.Override.Button:Blue"]):not([class~="Integrant.Element.Override.Button:Green"]):not([class~="Integrant.Element.Override.Button:Orange"]):not([class~="Integrant.Element.Override.Button:Purple"]):not([class~="Integrant.Element.Override.Button:Red"]):not([class~="Integrant.Element.Override.Button:Yellow"]), button[class~="Integrant.Element.Bit:Disabled"][class~="Integrant.Element.Override.Button:Yellow"], button[class~="Integrant.Element.Bit:Disabled"][class~="Integrant.Element.Override.Button:Red"], button[class~="Integrant.Element.Bit:Disabled"][class~="Integrant.Element.Override.Button:Purple"], button[class~="Integrant.Element.Bit:Disabled"][class~="Integrant.Element.Override.Button:Orange"], button[class~="Integrant.Element.Bit:Disabled"][class~="Integrant.Element.Override.Button:Green"], button[class~="Integrant.Element.Bit:Disabled"][class~="Integrant.Element.Override.Button:Blue"], button[class~="Integrant.Element.Bit:Disabled"][class~="Integrant.Element.Override.Button:Default"],
  button[class~="Integrant.Element.Bit:Disabled"][class~="Integrant.Element.Override.Button"]:not([class~="Integrant.Element.Override.Button:Blue"]):not([class~="Integrant.Element.Override.Button:Green"]):not([class~="Integrant.Element.Override.Button:Orange"]):not([class~="Integrant.Element.Override.Button:Purple"]):not([class~="Integrant.Element.Override.Button:Red"]):not([class~="Integrant.Element.Override.Button:Yellow"]) {
    cursor: not-allowed; }

button[class~="Integrant.Element.Override.Button:Default"]:not([class~="Integrant.Element.Override.Button:Highlighted"]):not([class~="Integrant.Element.Bit:Disabled"]):not(:disabled),
button[class~="Integrant.Element.Override.Button"]:not([class~="Integrant.Element.Override.Button:Blue"]):not([class~="Integrant.Element.Override.Button:Green"]):not([class~="Integrant.Element.Override.Button:Orange"]):not([class~="Integrant.Element.Override.Button:Purple"]):not([class~="Integrant.Element.Override.Button:Red"]):not([class~="Integrant.Element.Override.Button:Yellow"]):not([class~="Integrant.Element.Override.Button:Highlighted"]):not([class~="Integrant.Element.Bit:Disabled"]):not(:disabled) {
  background-color: var(--Colorant_Default_Background_3);
  border: 1px solid var(--Colorant_Default_Border_7);
  color: var(--Colorant_Default_Text_4); }
  button[class~="Integrant.Element.Override.Button:Default"]:not([class~="Integrant.Element.Override.Button:Highlighted"]):not([class~="Integrant.Element.Bit:Disabled"]):not(:disabled):hover, button[class~="Integrant.Element.Override.Button:Default"]:not([class~="Integrant.Element.Override.Button:Highlighted"]):not([class~="Integrant.Element.Bit:Disabled"]):not(:disabled):focus,
  button[class~="Integrant.Element.Override.Button"]:not([class~="Integrant.Element.Override.Button:Blue"]):not([class~="Integrant.Element.Override.Button:Green"]):not([class~="Integrant.Element.Override.Button:Orange"]):not([class~="Integrant.Element.Override.Button:Purple"]):not([class~="Integrant.Element.Override.Button:Red"]):not([class~="Integrant.Element.Override.Button:Yellow"]):not([class~="Integrant.Element.Override.Button:Highlighted"]):not([class~="Integrant.Element.Bit:Disabled"]):not(:disabled):hover,
  button[class~="Integrant.Element.Override.Button"]:not([class~="Integrant.Element.Override.Button:Blue"]):not([class~="Integrant.Element.Override.Button:Green"]):not([class~="Integrant.Element.Override.Button:Orange"]):not([class~="Integrant.Element.Override.Button:Purple"]):not([class~="Integrant.Element.Override.Button:Red"]):not([class~="Integrant.Element.Override.Button:Yellow"]):not([class~="Integrant.Element.Override.Button:Highlighted"]):not([class~="Integrant.Element.Bit:Disabled"]):not(:disabled):focus {
    background-color: var(--Colorant_Default_Background_6);
    border: 1px solid var(--Colorant_Default_Border_8);
    color: var(--Colorant_Default_Text_4); }
  button[class~="Integrant.Element.Override.Button:Default"]:not([class~="Integrant.Element.Override.Button:Highlighted"]):not([class~="Integrant.Element.Bit:Disabled"]):not(:disabled):active,
  button[class~="Integrant.Element.Override.Button"]:not([class~="Integrant.Element.Override.Button:Blue"]):not([class~="Integrant.Element.Override.Button:Green"]):not([class~="Integrant.Element.Override.Button:Orange"]):not([class~="Integrant.Element.Override.Button:Purple"]):not([class~="Integrant.Element.Override.Button:Red"]):not([class~="Integrant.Element.Override.Button:Yellow"]):not([class~="Integrant.Element.Override.Button:Highlighted"]):not([class~="Integrant.Element.Bit:Disabled"]):not(:disabled):active {
    background-color: var(--Colorant_Default_Background_9);
    border: 1px solid var(--Colorant_Default_Accent_4);
    color: var(--Colorant_Default_Text_4); }

button[class~="Integrant.Element.Override.Button:Default"]:not([class~="Integrant.Element.Override.Button:Highlighted"])[class~="Integrant.Element.Bit:Disabled"], button[class~="Integrant.Element.Override.Button:Default"]:not([class~="Integrant.Element.Override.Button:Highlighted"]):disabled,
button[class~="Integrant.Element.Override.Button"]:not([class~="Integrant.Element.Override.Button:Blue"]):not([class~="Integrant.Element.Override.Button:Green"]):not([class~="Integrant.Element.Override.Button:Orange"]):not([class~="Integrant.Element.Override.Button:Purple"]):not([class~="Integrant.Element.Override.Button:Red"]):not([class~="Integrant.Element.Override.Button:Yellow"]):not([class~="Integrant.Element.Override.Button:Highlighted"])[class~="Integrant.Element.Bit:Disabled"],
button[class~="Integrant.Element.Override.Button"]:not([class~="Integrant.Element.Override.Button:Blue"]):not([class~="Integrant.Element.Override.Button:Green"]):not([class~="Integrant.Element.Override.Button:Orange"]):not([class~="Integrant.Element.Override.Button:Purple"]):not([class~="Integrant.Element.Override.Button:Red"]):not([class~="Integrant.Element.Override.Button:Yellow"]):not([class~="Integrant.Element.Override.Button:Highlighted"]):disabled {
  background-color: transparent;
  border: 1px solid var(--Colorant_Default_Border_6);
  color: var(--Colorant_Default_Text_0); }

button[class~="Integrant.Element.Override.Button:Default"][class~="Integrant.Element.Override.Button:Highlighted"]:not([class~="Integrant.Element.Bit:Disabled"]):not(:disabled),
button[class~="Integrant.Element.Override.Button"]:not([class~="Integrant.Element.Override.Button:Blue"]):not([class~="Integrant.Element.Override.Button:Green"]):not([class~="Integrant.Element.Override.Button:Orange"]):not([class~="Integrant.Element.Override.Button:Purple"]):not([class~="Integrant.Element.Override.Button:Red"]):not([class~="Integrant.Element.Override.Button:Yellow"])[class~="Integrant.Element.Override.Button:Highlighted"]:not([class~="Integrant.Element.Bit:Disabled"]):not(:disabled) {
  background-color: var(--Colorant_Default_Accent_4);
  border: 1px solid var(--Colorant_Default_Border_7);
  color: var(--Colorant_Default_Accent_4_Text); }
  button[class~="Integrant.Element.Override.Button:Default"][class~="Integrant.Element.Override.Button:Highlighted"]:not([class~="Integrant.Element.Bit:Disabled"]):not(:disabled):hover, button[class~="Integrant.Element.Override.Button:Default"][class~="Integrant.Element.Override.Button:Highlighted"]:not([class~="Integrant.Element.Bit:Disabled"]):not(:disabled):focus,
  button[class~="Integrant.Element.Override.Button"]:not([class~="Integrant.Element.Override.Button:Blue"]):not([class~="Integrant.Element.Override.Button:Green"]):not([class~="Integrant.Element.Override.Button:Orange"]):not([class~="Integrant.Element.Override.Button:Purple"]):not([class~="Integrant.Element.Override.Button:Red"]):not([class~="Integrant.Element.Override.Button:Yellow"])[class~="Integrant.Element.Override.Button:Highlighted"]:not([class~="Integrant.Element.Bit:Disabled"]):not(:disabled):hover,
  button[class~="Integrant.Element.Override.Button"]:not([class~="Integrant.Element.Override.Button:Blue"]):not([class~="Integrant.Element.Override.Button:Green"]):not([class~="Integrant.Element.Override.Button:Orange"]):not([class~="Integrant.Element.Override.Button:Purple"]):not([class~="Integrant.Element.Override.Button:Red"]):not([class~="Integrant.Element.Override.Button:Yellow"])[class~="Integrant.Element.Override.Button:Highlighted"]:not([class~="Integrant.Element.Bit:Disabled"]):not(:disabled):focus {
    background-color: var(--Colorant_Default_Accent_5);
    border: 1px solid var(--Colorant_Default_Border_8);
    color: var(--Colorant_Default_Accent_4_Text); }
  button[class~="Integrant.Element.Override.Button:Default"][class~="Integrant.Element.Override.Button:Highlighted"]:not([class~="Integrant.Element.Bit:Disabled"]):not(:disabled):active,
  button[class~="Integrant.Element.Override.Button"]:not([class~="Integrant.Element.Override.Button:Blue"]):not([class~="Integrant.Element.Override.Button:Green"]):not([class~="Integrant.Element.Override.Button:Orange"]):not([class~="Integrant.Element.Override.Button:Purple"]):not([class~="Integrant.Element.Override.Button:Red"]):not([class~="Integrant.Element.Override.Button:Yellow"])[class~="Integrant.Element.Override.Button:Highlighted"]:not([class~="Integrant.Element.Bit:Disabled"]):not(:disabled):active {
    background-color: var(--Colorant_Default_Accent_6);
    border: 1px solid var(--Colorant_Default_Accent_4);
    color: var(--Colorant_Default_Accent_4_Text); }

button[class~="Integrant.Element.Override.Button:Default"][class~="Integrant.Element.Override.Button:Highlighted"][class~="Integrant.Element.Bit:Disabled"], button[class~="Integrant.Element.Override.Button:Default"][class~="Integrant.Element.Override.Button:Highlighted"]:disabled,
button[class~="Integrant.Element.Override.Button"]:not([class~="Integrant.Element.Override.Button:Blue"]):not([class~="Integrant.Element.Override.Button:Green"]):not([class~="Integrant.Element.Override.Button:Orange"]):not([class~="Integrant.Element.Override.Button:Purple"]):not([class~="Integrant.Element.Override.Button:Red"]):not([class~="Integrant.Element.Override.Button:Yellow"])[class~="Integrant.Element.Override.Button:Highlighted"][class~="Integrant.Element.Bit:Disabled"],
button[class~="Integrant.Element.Override.Button"]:not([class~="Integrant.Element.Override.Button:Blue"]):not([class~="Integrant.Element.Override.Button:Green"]):not([class~="Integrant.Element.Override.Button:Orange"]):not([class~="Integrant.Element.Override.Button:Purple"]):not([class~="Integrant.Element.Override.Button:Red"]):not([class~="Integrant.Element.Override.Button:Yellow"])[class~="Integrant.Element.Override.Button:Highlighted"]:disabled {
  background-color: transparent;
  border: 1px solid var(--Colorant_Default_Border_6);
  color: var(--Colorant_Default_Text_0); }

button[class~="Integrant.Element.Override.Button:Blue"]:not([class~="Integrant.Element.Bit:Disabled"]):not(:disabled) {
  background-color: var(--Colorant_Solids_Blue_10);
  border: 1px solid var(--Colorant_Solids_Blue_10);
  color: white; }
  button[class~="Integrant.Element.Override.Button:Blue"]:not([class~="Integrant.Element.Bit:Disabled"]):not(:disabled):hover, button[class~="Integrant.Element.Override.Button:Blue"]:not([class~="Integrant.Element.Bit:Disabled"]):not(:disabled):focus {
    background-color: var(--Colorant_Solids_Blue_8);
    border: 1px solid var(--Colorant_Solids_Blue_8);
    color: white; }
  button[class~="Integrant.Element.Override.Button:Blue"]:not([class~="Integrant.Element.Bit:Disabled"]):not(:disabled):active {
    background-color: var(--Colorant_Solids_Blue_6);
    border: 1px solid var(--Colorant_Solids_Blue_0);
    color: white; }

button[class~="Integrant.Element.Override.Button:Blue"][class~="Integrant.Element.Bit:Disabled"], button[class~="Integrant.Element.Override.Button:Blue"]:disabled {
  background-color: transparent;
  border: 1px solid var(--Colorant_Default_Border_6);
  color: var(--Colorant_Default_Text_0); }

button[class~="Integrant.Element.Override.Button:Green"]:not([class~="Integrant.Element.Bit:Disabled"]):not(:disabled) {
  background-color: var(--Colorant_Solids_Green_9);
  border: 1px solid var(--Colorant_Solids_Green_9);
  color: white; }
  button[class~="Integrant.Element.Override.Button:Green"]:not([class~="Integrant.Element.Bit:Disabled"]):not(:disabled):hover, button[class~="Integrant.Element.Override.Button:Green"]:not([class~="Integrant.Element.Bit:Disabled"]):not(:disabled):focus {
    background-color: var(--Colorant_Solids_Green_7);
    border: 1px solid var(--Colorant_Solids_Green_7);
    color: white; }
  button[class~="Integrant.Element.Override.Button:Green"]:not([class~="Integrant.Element.Bit:Disabled"]):not(:disabled):active {
    background-color: var(--Colorant_Solids_Green_5);
    border: 1px solid var(--Colorant_Solids_Green_4);
    color: white; }

button[class~="Integrant.Element.Override.Button:Green"][class~="Integrant.Element.Bit:Disabled"], button[class~="Integrant.Element.Override.Button:Green"]:disabled {
  background-color: transparent;
  border: 1px solid var(--Colorant_Default_Border_6);
  color: var(--Colorant_Default_Text_0); }

button[class~="Integrant.Element.Override.Button:Orange"]:not([class~="Integrant.Element.Bit:Disabled"]):not(:disabled) {
  background-color: var(--Colorant_Solids_Orange_8);
  border: 1px solid var(--Colorant_Solids_Orange_8);
  color: white; }
  button[class~="Integrant.Element.Override.Button:Orange"]:not([class~="Integrant.Element.Bit:Disabled"]):not(:disabled):hover, button[class~="Integrant.Element.Override.Button:Orange"]:not([class~="Integrant.Element.Bit:Disabled"]):not(:disabled):focus {
    background-color: var(--Colorant_Solids_Orange_6);
    border: 1px solid var(--Colorant_Solids_Orange_6);
    color: white; }
  button[class~="Integrant.Element.Override.Button:Orange"]:not([class~="Integrant.Element.Bit:Disabled"]):not(:disabled):active {
    background-color: var(--Colorant_Solids_Orange_4);
    border: 1px solid var(--Colorant_Solids_Orange_3);
    color: white; }

button[class~="Integrant.Element.Override.Button:Orange"][class~="Integrant.Element.Bit:Disabled"], button[class~="Integrant.Element.Override.Button:Orange"]:disabled {
  background-color: transparent;
  border: 1px solid var(--Colorant_Default_Border_6);
  color: var(--Colorant_Default_Text_0); }

button[class~="Integrant.Element.Override.Button:Purple"]:not([class~="Integrant.Element.Bit:Disabled"]):not(:disabled) {
  background-color: var(--Colorant_Solids_Purple_9);
  border: 1px solid var(--Colorant_Solids_Purple_9);
  color: white; }
  button[class~="Integrant.Element.Override.Button:Purple"]:not([class~="Integrant.Element.Bit:Disabled"]):not(:disabled):hover, button[class~="Integrant.Element.Override.Button:Purple"]:not([class~="Integrant.Element.Bit:Disabled"]):not(:disabled):focus {
    background-color: var(--Colorant_Solids_Purple_7);
    border: 1px solid var(--Colorant_Solids_Purple_7);
    color: white; }
  button[class~="Integrant.Element.Override.Button:Purple"]:not([class~="Integrant.Element.Bit:Disabled"]):not(:disabled):active {
    background-color: var(--Colorant_Solids_Purple_5);
    border: 1px solid var(--Colorant_Solids_Purple_4);
    color: white; }

button[class~="Integrant.Element.Override.Button:Purple"][class~="Integrant.Element.Bit:Disabled"], button[class~="Integrant.Element.Override.Button:Purple"]:disabled {
  background-color: transparent;
  border: 1px solid var(--Colorant_Default_Border_6);
  color: var(--Colorant_Default_Text_0); }

button[class~="Integrant.Element.Override.Button:Red"]:not([class~="Integrant.Element.Bit:Disabled"]):not(:disabled) {
  background-color: var(--Colorant_Solids_Red_9);
  border: 1px solid var(--Colorant_Solids_Red_9);
  color: white; }
  button[class~="Integrant.Element.Override.Button:Red"]:not([class~="Integrant.Element.Bit:Disabled"]):not(:disabled):hover, button[class~="Integrant.Element.Override.Button:Red"]:not([class~="Integrant.Element.Bit:Disabled"]):not(:disabled):focus {
    background-color: var(--Colorant_Solids_Red_7);
    border: 1px solid var(--Colorant_Solids_Red_7);
    color: white; }
  button[class~="Integrant.Element.Override.Button:Red"]:not([class~="Integrant.Element.Bit:Disabled"]):not(:disabled):active {
    background-color: var(--Colorant_Solids_Red_5);
    border: 1px solid var(--Colorant_Solids_Red_4);
    color: white; }

button[class~="Integrant.Element.Override.Button:Red"][class~="Integrant.Element.Bit:Disabled"], button[class~="Integrant.Element.Override.Button:Red"]:disabled {
  background-color: transparent;
  border: 1px solid var(--Colorant_Default_Border_6);
  color: var(--Colorant_Default_Text_0); }

button[class~="Integrant.Element.Override.Button:Yellow"]:not([class~="Integrant.Element.Bit:Disabled"]):not(:disabled) {
  background-color: var(--Colorant_Solids_Yellow_6);
  border: 1px solid var(--Colorant_Solids_Yellow_6);
  color: black; }
  button[class~="Integrant.Element.Override.Button:Yellow"]:not([class~="Integrant.Element.Bit:Disabled"]):not(:disabled):hover, button[class~="Integrant.Element.Override.Button:Yellow"]:not([class~="Integrant.Element.Bit:Disabled"]):not(:disabled):focus {
    background-color: var(--Colorant_Solids_Yellow_5);
    border: 1px solid var(--Colorant_Solids_Yellow_5);
    color: black; }
  button[class~="Integrant.Element.Override.Button:Yellow"]:not([class~="Integrant.Element.Bit:Disabled"]):not(:disabled):active {
    background-color: var(--Colorant_Solids_Yellow_3);
    border: 1px solid var(--Colorant_Solids_Yellow_2);
    color: black; }

button[class~="Integrant.Element.Override.Button:Yellow"][class~="Integrant.Element.Bit:Disabled"], button[class~="Integrant.Element.Override.Button:Yellow"]:disabled {
  background-color: transparent;
  border: 1px solid var(--Colorant_Default_Border_6);
  color: var(--Colorant_Default_Text_0); }

/*# sourceMappingURL=Buttons.css.map */