%_ButtonBase {
    align-items:   center;
    border-radius: 3px;
    cursor:        pointer;
    display:       inline-flex;
    font-family:   var(--Integrant_SansSerifFont);
    font-weight:   500;
    outline:       none;
    padding:       2px 6px;

    &::-moz-focus-inner {
        border: 0;
    }

    &:disabled, &[class~="Integrant.Element.Bit:Disabled"] {
        cursor: not-allowed;
    }
}

@mixin _ButtonColor(
    $normalBackground, $normalBorder, $normalColor, 
    $focusBackground, $focusBorder, $focusColor, 
    $activeBackground, $activeBorder, $activeColor,
    $disabledBackground, $disabledBorder, $disabledColor,
) {
    &:not([class~="Integrant.Element.Bit:Disabled"]):not(:disabled) {
        background-color: $normalBackground;
        border:           1px solid $normalBorder;
        color:            $normalColor;

        &:hover, &:focus {
            background-color: $focusBackground;
            border:           1px solid $focusBorder;
            color:            $focusColor;
        }

        &:active {
            //box-shadow:       0 0 3px 0 $activeBorder inset;
            background-color: $activeBackground;
            border:           1px solid $activeBorder;
            color:            $activeColor;
        }
    }

    &[class~="Integrant.Element.Bit:Disabled"], &:disabled {
        background-color: $disabledBackground;
        border:           1px solid $disabledBorder;
        color:            $disabledColor;
    }
}

button[class~="Integrant.Element.Override.Button:Default"],
button[class~="Integrant.Element.Override.Button"]:not([class~="Integrant.Element.Override.Button:Blue"]):not([class~="Integrant.Element.Override.Button:Green"]):not([class~="Integrant.Element.Override.Button:Orange"]):not([class~="Integrant.Element.Override.Button:Purple"]):not([class~="Integrant.Element.Override.Button:Red"]):not([class~="Integrant.Element.Override.Button:Yellow"]) {
    @extend %_ButtonBase;

    &:not([class~="Integrant.Element.Override.Button:Highlighted"]) {

        @include _ButtonColor(
                        var(--Colorant_Default_Background_3),
                        var(--Colorant_Default_Border_7),
                        var(--Colorant_Default_Text_4),
                    //
                        var(--Colorant_Default_Background_6),
                        var(--Colorant_Default_Border_8),
                        var(--Colorant_Default_Text_4),
                    //
                        var(--Colorant_Default_Background_9),
                        var(--Colorant_Default_Accent_4),
                        var(--Colorant_Default_Text_4),
                    //
                        transparent,
                        var(--Colorant_Default_Border_6),
                        var(--Colorant_Default_Text_0)
        );
    }

    &[class~="Integrant.Element.Override.Button:Highlighted"] {
        @include _ButtonColor(
                        var(--Colorant_Default_Accent_4),
                        var(--Colorant_Default_Border_7),
                        var(--Colorant_Default_Accent_4_Text),
                    //
                        var(--Colorant_Default_Accent_5),
                        var(--Colorant_Default_Border_8),
                        var(--Colorant_Default_Accent_4_Text),
                    //
                        var(--Colorant_Default_Accent_6),
                        var(--Colorant_Default_Accent_4),
                        var(--Colorant_Default_Accent_4_Text),
                    //
                        transparent,
                        var(--Colorant_Default_Border_6),
                        var(--Colorant_Default_Text_0)
        );
    }
}

button[class~="Integrant.Element.Override.Button:Blue"] {
    @extend %_ButtonBase;

    @include _ButtonColor(
                    var(--Colorant_Solids_Blue_10),
                    var(--Colorant_Solids_Blue_10),
                    white,
                //
                    var(--Colorant_Solids_Blue_8),
                    var(--Colorant_Solids_Blue_8),
                    white,
                //
                    var(--Colorant_Solids_Blue_6),
                    var(--Colorant_Solids_Blue_0),
                    white,
                //
                    transparent,
                    var(--Colorant_Default_Border_6),
                    var(--Colorant_Default_Text_0)
    );
}

button[class~="Integrant.Element.Override.Button:Green"] {
    @extend %_ButtonBase;

    @include _ButtonColor(
                    var(--Colorant_Solids_Green_9),
                    var(--Colorant_Solids_Green_9),
                    white,
                //
                    var(--Colorant_Solids_Green_7),
                    var(--Colorant_Solids_Green_7),
                    white,
                //
                    var(--Colorant_Solids_Green_5),
                    var(--Colorant_Solids_Green_4),
                    white,
                //
                    transparent,
                    var(--Colorant_Default_Border_6),
                    var(--Colorant_Default_Text_0)
    );
}

button[class~="Integrant.Element.Override.Button:Orange"] {
    @extend %_ButtonBase;

    @include _ButtonColor(
                    var(--Colorant_Solids_Orange_8),
                    var(--Colorant_Solids_Orange_8),
                    white,
                //
                    var(--Colorant_Solids_Orange_6),
                    var(--Colorant_Solids_Orange_6),
                    white,
                //
                    var(--Colorant_Solids_Orange_4),
                    var(--Colorant_Solids_Orange_3),
                    white,
                //
                    transparent,
                    var(--Colorant_Default_Border_6),
                    var(--Colorant_Default_Text_0)
    );
}

button[class~="Integrant.Element.Override.Button:Purple"] {
    @extend %_ButtonBase;

    @include _ButtonColor(
                    var(--Colorant_Solids_Purple_9),
                    var(--Colorant_Solids_Purple_9),
                    white,
                //
                    var(--Colorant_Solids_Purple_7),
                    var(--Colorant_Solids_Purple_7),
                    white,
                //
                    var(--Colorant_Solids_Purple_5),
                    var(--Colorant_Solids_Purple_4),
                    white,
                //
                    transparent,
                    var(--Colorant_Default_Border_6),
                    var(--Colorant_Default_Text_0)
    );
}

button[class~="Integrant.Element.Override.Button:Red"] {
    @extend %_ButtonBase;

    @include _ButtonColor(
                    var(--Colorant_Solids_Red_9),
                    var(--Colorant_Solids_Red_9),
                    white,
                //
                    var(--Colorant_Solids_Red_7),
                    var(--Colorant_Solids_Red_7),
                    white,
                //
                    var(--Colorant_Solids_Red_5),
                    var(--Colorant_Solids_Red_4),
                    white,
                //
                    transparent,
                    var(--Colorant_Default_Border_6),
                    var(--Colorant_Default_Text_0)
    );
}

button[class~="Integrant.Element.Override.Button:Yellow"] {
    @extend %_ButtonBase;

    @include _ButtonColor(
                    var(--Colorant_Solids_Yellow_6),
                    var(--Colorant_Solids_Yellow_6),
                    black,
                //
                    var(--Colorant_Solids_Yellow_5),
                    var(--Colorant_Solids_Yellow_5),
                    black,
                //
                    var(--Colorant_Solids_Yellow_3),
                    var(--Colorant_Solids_Yellow_2),
                    black,
                //
                    transparent,
                    var(--Colorant_Default_Border_6),
                    var(--Colorant_Default_Text_0)
    );
}
