div[class~="Integrant.Element.Input"] {

    input, textarea, select {
        background-color: var(--Colorant_Default_Background_3);
        border:           1px solid var(--Colorant_Default_Border_7);
        border-radius:    2px;
        box-sizing:       border-box;
        color:            var(--Colorant_Default_Text_4);
        font-size:        1rem;
        line-height:      1rem;
        outline:          none;
        padding:          2px 4px;

        option {
            background-color: var(--Colorant_Default_Background_3);
            color:            var(--Colorant_Default_Text_4);
        }

        &:focus {
            //box-shadow: 0 0 0 2px var(--Colorant_Default_Accent_4) inset;
            border: 1px solid var(--Colorant_Default_Accent_4);
        }
    }

    input[type="text"], textarea {
        width: calc(100% - 2px);
    }

    &[class~="Integrant.Element.Input:FailsRequirement"] {
        input, textarea {
            border: 1px solid red;
        }
    }

    &[class~="Integrant.Element.Input:Disabled"] {
        * {
            cursor: not-allowed;
        }
    }

    &[class~="Integrant.Element.Input:Composite"] {
        align-items: center;
        display:     inline-flex;
        flex-wrap:   wrap;

        div[class~="Integrant.Element.Input"]:not(:first-child) {
            margin-left: 3px;
        }
    }

    &:not([class~="Integrant.Element.Input:Monospace"]) {
        input, textarea, select, option {
            font-family: var(--Integrant_SansSerifFont);
        }
    }

    &[class~="Integrant.Element.Input:Monospace"] {
        input, textarea, select, option {
            font-family: var(--Integrant_MonospacedFont);
        }
    }

    // Overrides/resets

    input, textarea {

        &:required {
            box-shadow: none;
        }

        &::-webkit-clear-button {
            color: red;

        }

        &::-webkit-calendar-picker-indicator {
            cursor: pointer;
            //margin-left: 13px;
            //border-left: 1px solid red;
        }
    }

    input[type="date"], input[type="time"] {
        padding-right: 4px;
    }

    ::-webkit-input-placeholder {
        font-style: italic;
    }

    :-moz-placeholder {
        font-style: italic;
    }

    ::-moz-placeholder {
        font-style: italic;
    }

    :-ms-input-placeholder {
        font-style: italic;
    }
}
