div[class~="Integrant.Element.Override.InternetExplorerNotice"] {
    font-family: sans-serif;
    margin:      0 auto;
    max-width:   800px;
    width:       100%;

    > div {
        background-color: pink;
        border:           3px solid red;
        padding:          15px;

        > h1 {
            margin: 0;
        }

        > p {
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}