.C_Container {
    display:        flex;
    flex-direction: row;
    flex-wrap:      wrap;

    h1, h2, h3 {
        color:  white;
        margin: 15px 3px 3px 3px;
    }

    .C_Variant {

        .C_Block {
            .C_Block_ID {
                height:  32px;
                margin:  0 3px;
                padding: 3px;
                width:   128px;
            }
        }
    }
}
