.C_Container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }
  .C_Container h1, .C_Container h2, .C_Container h3 {
    color: white;
    margin: 15px 3px 3px 3px; }
  .C_Container .C_Variant .C_Block .C_Block_ID {
    height: 32px;
    margin: 0 3px;
    padding: 3px;
    width: 128px; }

html {
  font-size: 13px; }

body {
  background-color: var(--Colorant_Default_Background_6);
  color: var(--Colorant_Default_Text_4);
  font-family: var(--FontSet-SansSerifFont);
  margin: 0; }

div[class~="Integrant.Rudiment.Component.StructureContainer#Integrant.Web.Pages.Index+User"] table {
  border-collapse: collapse;
  table-layout: fixed; }
  div[class~="Integrant.Rudiment.Component.StructureContainer#Integrant.Web.Pages.Index+User"] table tbody tr td {
    padding: 5px; }
    div[class~="Integrant.Rudiment.Component.StructureContainer#Integrant.Web.Pages.Index+User"] table tbody tr td:nth-child(2) div[class~="Integrant.Rudiment.Component.MemberInput"] {
      width: 400px; }
      div[class~="Integrant.Rudiment.Component.StructureContainer#Integrant.Web.Pages.Index+User"] table tbody tr td:nth-child(2) div[class~="Integrant.Rudiment.Component.MemberInput"] textarea {
        max-width: 100%; }

.Panel {
  background-color: var(--Colorant_Default_Background_0);
  border: 1px solid var(--Colorant_Default_Border_9);
  box-shadow: 0 0 2px var(--Colorant_Default_Shadow_0);
  margin: 5px; }
