@import 'ColorantTest.scss';

html {
    font-size: 13px;
}

body {
    background-color: var(--Colorant_Default_Background_6);
    color:            var(--Colorant_Default_Text_4);
    font-family:      var(--FontSet-SansSerifFont);
}

div[class~="Integrant.Rudiment.Component.StructureContainer#Integrant.Web.Pages.Index+User"] {
    table {
        border-collapse: collapse;
        table-layout:    fixed;

        tbody {
            tr {
                td {
                    padding: 5px;

                    &:nth-child(2) {
                        div[class~="Integrant.Rudiment.Component.MemberInput"] {
                            width: 400px;
                            //overflow: hidden;

                            textarea {
                                max-width: 100%;
                            }
                        }

                    }
                }
            }
        }
    }
}
