:root {
	--Colorant_Solids_Blue_0: #0000ff;
	--Colorant_Solids_Blue_0_Text: white;
	--Colorant_Solids_Blue_1: #0b0ff6;
	--Colorant_Solids_Blue_1_Text: white;
	--Colorant_Solids_Blue_2: #141ceb;
	--Colorant_Solids_Blue_2_Text: white;
	--Colorant_Solids_Blue_3: #1d27e0;
	--Colorant_Solids_Blue_3_Text: white;
	--Colorant_Solids_Blue_4: #2431d5;
	--Colorant_Solids_Blue_4_Text: white;
	--Colorant_Solids_Blue_5: #2b39ca;
	--Colorant_Solids_Blue_5_Text: white;
	--Colorant_Solids_Blue_6: #3141c0;
	--Colorant_Solids_Blue_6_Text: white;
	--Colorant_Solids_Blue_7: #3747b7;
	--Colorant_Solids_Blue_7_Text: white;
	--Colorant_Solids_Blue_8: #3c4caf;
	--Colorant_Solids_Blue_8_Text: white;
	--Colorant_Solids_Blue_9: #4151a8;
	--Colorant_Solids_Blue_9_Text: white;
	--Colorant_Solids_Blue_10: #4656a2;
	--Colorant_Solids_Blue_10_Text: white;
	--Colorant_Solids_Blue_11: #4b5b9e;
	--Colorant_Solids_Blue_11_Text: white;
	--Colorant_Solids_Blue_12: #50609b;
	--Colorant_Solids_Blue_12_Text: white;
	--Colorant_Solids_Blue_13: #56659a;
	--Colorant_Solids_Blue_13_Text: white;
	--Colorant_Solids_Blue_14: #5c6b99;
	--Colorant_Solids_Blue_14_Text: white;
	--Colorant_Solids_Green_0: #00ff00;
	--Colorant_Solids_Green_0_Text: black;
	--Colorant_Solids_Green_1: #01f401;
	--Colorant_Solids_Green_1_Text: black;
	--Colorant_Solids_Green_2: #02e602;
	--Colorant_Solids_Green_2_Text: black;
	--Colorant_Solids_Green_3: #04d804;
	--Colorant_Solids_Green_3_Text: black;
	--Colorant_Solids_Green_4: #06ca06;
	--Colorant_Solids_Green_4_Text: black;
	--Colorant_Solids_Green_5: #08bd08;
	--Colorant_Solids_Green_5_Text: black;
	--Colorant_Solids_Green_6: #0bb00b;
	--Colorant_Solids_Green_6_Text: black;
	--Colorant_Solids_Green_7: #0ea50e;
	--Colorant_Solids_Green_7_Text: black;
	--Colorant_Solids_Green_8: #139b13;
	--Colorant_Solids_Green_8_Text: black;
	--Colorant_Solids_Green_9: #199219;
	--Colorant_Solids_Green_9_Text: black;
	--Colorant_Solids_Green_10: #208b20;
	--Colorant_Solids_Green_10_Text: black;
	--Colorant_Solids_Green_11: #298629;
	--Colorant_Solids_Green_11_Text: white;
	--Colorant_Solids_Green_12: #348234;
	--Colorant_Solids_Green_12_Text: white;
	--Colorant_Solids_Green_13: #408040;
	--Colorant_Solids_Green_13_Text: white;
	--Colorant_Solids_Green_14: #4d804d;
	--Colorant_Solids_Green_14_Text: white;
	--Colorant_Solids_Red_0: #ff0000;
	--Colorant_Solids_Red_0_Text: black;
	--Colorant_Solids_Red_1: #f80808;
	--Colorant_Solids_Red_1_Text: black;
	--Colorant_Solids_Red_2: #f00f0f;
	--Colorant_Solids_Red_2_Text: black;
	--Colorant_Solids_Red_3: #e91616;
	--Colorant_Solids_Red_3_Text: white;
	--Colorant_Solids_Red_4: #e21d1d;
	--Colorant_Solids_Red_4_Text: white;
	--Colorant_Solids_Red_5: #db2323;
	--Colorant_Solids_Red_5_Text: white;
	--Colorant_Solids_Red_6: #d32929;
	--Colorant_Solids_Red_6_Text: white;
	--Colorant_Solids_Red_7: #cc2e2e;
	--Colorant_Solids_Red_7_Text: white;
	--Colorant_Solids_Red_8: #c53333;
	--Colorant_Solids_Red_8_Text: white;
	--Colorant_Solids_Red_9: #bd3737;
	--Colorant_Solids_Red_9_Text: white;
	--Colorant_Solids_Red_10: #b63b3b;
	--Colorant_Solids_Red_10_Text: white;
	--Colorant_Solids_Red_11: #af3e3e;
	--Colorant_Solids_Red_11_Text: white;
	--Colorant_Solids_Red_12: #a84141;
	--Colorant_Solids_Red_12_Text: white;
	--Colorant_Solids_Red_13: #a04343;
	--Colorant_Solids_Red_13_Text: white;
	--Colorant_Solids_Red_14: #994545;
	--Colorant_Solids_Red_14_Text: white;
	--Colorant_Solids_Yellow_0: #ffff00;
	--Colorant_Solids_Yellow_0_Text: black;
	--Colorant_Solids_Yellow_1: #f6f601;
	--Colorant_Solids_Yellow_1_Text: black;
	--Colorant_Solids_Yellow_2: #eded03;
	--Colorant_Solids_Yellow_2_Text: black;
	--Colorant_Solids_Yellow_3: #e4e404;
	--Colorant_Solids_Yellow_3_Text: black;
	--Colorant_Solids_Yellow_4: #dbdb06;
	--Colorant_Solids_Yellow_4_Text: black;
	--Colorant_Solids_Yellow_5: #d1d109;
	--Colorant_Solids_Yellow_5_Text: black;
	--Colorant_Solids_Yellow_6: #c8c80c;
	--Colorant_Solids_Yellow_6_Text: black;
	--Colorant_Solids_Yellow_7: #bfbf11;
	--Colorant_Solids_Yellow_7_Text: black;
	--Colorant_Solids_Yellow_8: #b6b616;
	--Colorant_Solids_Yellow_8_Text: black;
	--Colorant_Solids_Yellow_9: #adad1d;
	--Colorant_Solids_Yellow_9_Text: black;
	--Colorant_Solids_Yellow_10: #a4a426;
	--Colorant_Solids_Yellow_10_Text: black;
	--Colorant_Solids_Yellow_11: #9b9b30;
	--Colorant_Solids_Yellow_11_Text: black;
	--Colorant_Solids_Yellow_12: #92923a;
	--Colorant_Solids_Yellow_12_Text: black;
	--Colorant_Solids_Yellow_13: #898944;
	--Colorant_Solids_Yellow_13_Text: black;
	--Colorant_Solids_Yellow_14: #80804d;
	--Colorant_Solids_Yellow_14_Text: black;
}
