:root {
    --Integrant_MonospacedFont: 'JetBrains Mono', monospace;
}

@font-face {
    font-family: 'JetBrains Mono';
    font-style:  normal;
    font-weight: 400;
    src:         url('JetBrainsMono-Regular.woff2') format('woff2'),
                 url('JetBrainsMono-Regular.woff') format('woff');
}

@font-face {
    font-family: 'JetBrains Mono';
    font-style:  italic;
    font-weight: 400;
    src:         url('JetBrainsMono-Italic.woff2') format('woff2'),
                 url('JetBrainsMono-Italic.woff') format('woff');
}

@font-face {
    font-family: 'JetBrains Mono';
    font-style:  normal;
    font-weight: 500;
    src:         url('JetBrainsMono-Medium.woff2') format('woff2'),
                 url('JetBrainsMono-Medium.woff') format('woff');
}

@font-face {
    font-family: 'JetBrains Mono';
    font-style:  italic;
    font-weight: 500;
    src:         url('JetBrainsMono-Medium-Italic.woff2') format('woff2'),
                 url('JetBrainsMono-Medium-Italic.woff') format('woff');
}

@font-face {
    font-family: 'JetBrains Mono';
    font-style:  normal;
    font-weight: 700;
    src:         url('JetBrainsMono-Bold.woff2') format('woff2'),
                 url('JetBrainsMono-Bold.woff') format('woff');
}

@font-face {
    font-family: 'JetBrains Mono';
    font-style:  italic;
    font-weight: 700;
    src:         url('JetBrainsMono-Bold-Italic.woff2') format('woff2'),
                 url('JetBrainsMono-Bold-Italic.woff') format('woff');
}

@font-face {
    font-family: 'JetBrains Mono';
    font-style:  normal;
    font-weight: 900;
    src:         url('JetBrainsMono-ExtraBold.woff2') format('woff2'),
                 url('JetBrainsMono-ExtraBold.woff') format('woff');
}

@font-face {
    font-family: 'JetBrains Mono';
    font-style:  italic;
    font-weight: 900;
    src:         url('JetBrainsMono-ExtraBold-Italic.woff2') format('woff2'),
                 url('JetBrainsMono-ExtraBold-Italic.woff') format('woff');
}
