div[class~="Integrant.Rudiments.Component.MemberValidations"], div[class~="Integrant.Rudiments.Component.StructureValidations"] {
  align-items: center;
  display: inline-flex;
  flex-wrap: wrap; }

div[class~="Integrant.Rudiments.Validation.Result"] {
  align-items: center;
  border-radius: 4px;
  display: inline-flex;
  margin: 1px;
  padding: 0 3px; }
  div[class~="Integrant.Rudiments.Validation.Result"]:not(:first-child) {
    margin-left: 3px; }
  div[class~="Integrant.Rudiments.Validation.Result"][class~="Integrant.Rudiments.Validation.Result:Invalid"] {
    background-color: #c80000;
    color: white; }
  div[class~="Integrant.Rudiments.Validation.Result"][class~="Integrant.Rudiments.Validation.Result:Warning"] {
    background-color: #ffff00;
    color: black; }
  div[class~="Integrant.Rudiments.Validation.Result"][class~="Integrant.Rudiments.Validation.Result:Valid"] {
    background-color: #008000;
    color: white; }
  div[class~="Integrant.Rudiments.Validation.Result"] div[class~="Integrant.Rudiments.Validation.Result.Icon"] {
    padding-right: 3px; }
    div[class~="Integrant.Rudiments.Validation.Result"] div[class~="Integrant.Rudiments.Validation.Result.Icon"]::before {
      align-items: center;
      display: flex;
      font-size: 15px !important;
      height: 100% !important; }
  div[class~="Integrant.Rudiments.Validation.Result"] div[class~="Integrant.Rudiments.Validation.Result.Text"] {
    display: inline;
    overflow-wrap: break-word; }

div[class~="Integrant.Rudiments.Validation.Notice"] {
  align-items: center;
  display: inline-flex;
  margin: 1px; }
  div[class~="Integrant.Rudiments.Validation.Notice"][class~="Integrant.Rudiments.Validation.Notice:Validating"] {
    position: relative; }
    div[class~="Integrant.Rudiments.Validation.Notice"][class~="Integrant.Rudiments.Validation.Notice:Validating"] div[class~="Integrant.Rudiments.Validation.Notice.Text"] {
      color: white;
      overflow-wrap: break-word;
      padding: 0 3px; }
    div[class~="Integrant.Rudiments.Validation.Notice"][class~="Integrant.Rudiments.Validation.Notice:Validating"] div[class~="Integrant.Rudiments.Validation.Notice.Background"] {
      border-radius: 4px;
      bottom: 0;
      left: 0;
      overflow: hidden;
      position: absolute;
      right: 0;
      top: 0;
      z-index: -1; }
      div[class~="Integrant.Rudiments.Validation.Notice"][class~="Integrant.Rudiments.Validation.Notice:Validating"] div[class~="Integrant.Rudiments.Validation.Notice.Background"]::before {
        animation: stripes 0.5s linear infinite;
        background-image: repeating-linear-gradient(to right, blue 0, blue 8px, #0000d9 8px, #0000d9 16px);
        background-repeat: repeat;
        background-size: 16px;
        content: '';
        display: block;
        height: 100%;
        width: calc(100% + 16px); }

@keyframes stripes {
  from {
    transform: translateX(-16px); }
  to {
    transform: translateX(0); } }
